$base-font-size-mobile: 12;
$base-font-size: 16;
$width-page-content-min: 18.75rem;
$width-page-content-max: 80em;
$width-content-padding-mobile: 1em;
$width-content-padding: 2.5em;
$height-content-padding-mobile: 4em;
$height-content-padding: 4em;
$column-gutter: 4em;
