$base-font-size-mobile: 12;
$base-font-size: 16;
$width-page-content-min: 18.75rem;
$width-page-content-max: 64em;
$width-page-content-narrow: 40rem;
$width-content-padding-mobile: 1rem;
$width-content-padding: 2.5rem;
$height-content-padding-mobile: 4em;
$height-content-padding: 4em;
$column-gutter: 4em;
