img {
  max-width: 100%;
}

a {
  color: inherit;
}

p {
  margin: 0 0 1.5em;
  a {
    color: inherit;
    transition: all, 0.25s;
    text-decoration: none;
    border-bottom: 1px solid;
    border-bottom-color: inherit;
    &:hover {
      color: $color-accent-1;
    }
  }
}
