$base-font: "Avenir", Helvetica, Arial, "Lucida Grande", sans-serif;

html {
  font-size: $base-font-size * 1px;
  font-family: $base-font;
  color: $color-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
}

blockquote{
  border-left: 2px solid #DEDEDE;
  padding-left: 1em;
  font-style: italic;
  margin-bottom: 1em;
}

code{
  font-family: monospace;
  background: #EEE;
  padding: .1em .25em;
}

pre{
  background: #111;
  padding: 1em;
  line-height: 1.5;
  margin: 0 0 2em;
  white-space: pre-wrap;
  code{
    background: none;
    padding: 0;
    color: white;
  }
  @include smaller-than(medium) {
    font-size: .75em;
  }
}

p {
  line-height: 1.5;
}

h1,
h2 {
  font-weight: 400;
}
