$base-font: 'Avenir', Helvetica, Arial, 'Lucida Grande', sans-serif;
$code-font: 'Ubuntu Mono', 'Courier New', monospace;

html {
  font-size: $base-font-size * 1px;
  font-family: $base-font;
  color: $color-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote {
  border-left: 2px solid #DEDEDE;
  padding-left: 1em;
  font-style: italic;
  margin-bottom: 1em;
}

code {
  background: #EEE;
  padding: .1em .25em;
}

pre {
  font-family: $code-font;
  padding: $width-content-padding-mobile;
  line-height: 1.5;
  white-space: pre-wrap;
  font-size: .75em;
  code {
    font-family: inherit;
    background: none;
    padding: 0;
    color: white;
  }
  @include larger-than(mobile) {
    padding: $width-content-padding;
    font-size: 1em;
  }
}

p {
  line-height: 1.5;
}

h1,
h2 {
  font-weight: 400;
}
