.header {
  background: $color-accent-1;
  padding: 2em 0;
  color: white;
  text-align: center;
  @include larger-than(mobile) {
    text-align: left;
  }
  a {
    @extend .reset-a;
    &:hover {
      text-decoration: none;
    }
  }
}

.header__logo,
.header__title {
  display: inline-block;
  vertical-align: middle;
}

.header__logo {
  height: 2em;
  margin-right: 1em;
}

.header__title {
  font-size: 1.5em;
}
