.home-hero {
  text-align: center;
  background: $color-accent-1;
  color: white;
  @include larger-than(mobile) {
    text-align: left;
  }
}

.home-hero__inner {
  @extend .content-wrapper;
  @include larger-than(mobile) {
    @include safe-flexbox;
    align-items: center;
  }  
}

.home-hero__logo {
  margin: 0 0 2em;
  @include larger-than(mobile) {
    margin: 0 $column-gutter 0 0;
  }
}

.home-hero__heading {
  margin: 0 0 1em;
}

.home-hero__subheading {
  margin: 0;
}
