.home-intro {
  @extend .section;
  position: relative;
  background: $color-accent-1;
  &:before {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 2em;
    left: 0;
    top: -2em;
    z-index: -1;
    background-image: url('../images/block-header-1.svg');
  }
}

.home-intro__inner {
  @extend .content-wrapper;
  @include safe-flexbox;
  > * {
    font-size: 1.25em;
  }
}

.home-intro__photo {
  width: 10em;
  height: auto;
  border-radius: 100%;
  display: block;
  max-width: none;
  @include larger-than(mobile) {
    margin-left: $width-content-padding;
  }
}

.home-intro__items {
  @extend .reset-ul;
}

.home-intro__item {
  position: relative;
  padding-left: 4em;
  margin-bottom: 2em;
  &:before {
    content: '';
    position: absolute;
    width: 2em;
    height: 2em;
    left: 0;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &:nth-child(1n+1):before {
    background-image: url('../images/cube-bullet-1.svg');
  }
  &:nth-child(2n+2):before {
    background-image: url('../images/cube-bullet-2.svg');
  }
  &:nth-child(3n+3):before {
    background-image: url('../images/cube-bullet-3.svg');
  }
  &:nth-child(4n+4):before {
    background-image: url('../images/cube-bullet-4.svg');
  }
}
