.home-hero {
  @extend .section;
  text-align: center;
  padding: 6em 0;
  @include larger-than(mobile) {
    text-align: left;
  }
}

.home-hero__inner {
  @extend .content-wrapper;
  @include larger-than(mobile) {
    @include safe-flexbox;
    align-items: center;
  }  
}

.home-hero__logo {
  margin: 0 0 2em;
  flex-shrink: 0;
  @include larger-than(mobile) {
    margin: 0 $column-gutter  0 0;
  }
}

.home-hero__heading {
  font-size: 2.5em;
  letter-spacing: -0.5px;
}

.home-hero__heading,
.home-hero__subheading {
  margin: 0 0 1em;
}

.home-hero__subheading {
  font-size: 1.25em;
}
