$extrude-height: 0.75em;

.work-grid {
  @extend .reset-ul;
  @include larger-than(mobile) {
    @include columns(3);
  }
}

.work-grid__item {
  margin-bottom: 1em;
  a {
    @extend .reset-a;
    display: block;
    line-height: 1;
    margin-bottom: 1em;
    &:hover {
      text-decoration: none;
      color: $color-accent-1;
      .work-grid__link-inner {
        bottom: 0;
        border-bottom: $extrude-height solid darken($color-accent-1, 20%);
        border-left: $extrude-height solid $color-accent-1;
        margin-bottom: -$extrude-height;
        width: calc(100% + #{$extrude-height * 2});
      }
    }
  }
}

.work-grid__link-inner,
.work-grid__item a:active .work-grid__link-inner {
  background: $color-background;
  position: relative;
  left: -$extrude-height;
  bottom: -$extrude-height;
  padding: 0 0 $extrude-height $extrude-height;
  width: calc(100% + #{$extrude-height});
  transition: all 0.15s;
  border-bottom: 0 solid transparent;
  border-left: 0 solid transparent;
  margin-bottom: 0;
  &:before,
  &:after {
    content: '';
    position: absolute;
    border: $extrude-height solid transparent;          
  }
  &:before {
    left: -$extrude-height;
    top: -$extrude-height;
    border-left: $extrude-height solid $color-background;
  }
  &:after {
    right: -$extrude-height;
    bottom: -$extrude-height;
    border-bottom: $extrude-height solid $color-background;
  }
}

.work-grid__thumb {
  @include aspect-ratio(3, 2);
  margin-bottom: 1em;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.work-grid__subtitle {
  margin: 0;
}
