---
bodyclass: homepage
---

<div class="home-hero">
  <div class="home-hero__inner">
    <div class="home-hero__logo">
      <a href="/">
        <img src="/assets/images/js-logo.svg" alt="JS logo">
      </a>
    </div>
    <div class="home-hero__copy">
      <h1 class="home-hero__heading">James Shakespeare</h1>
      <p class="home-hero__subheading">Is a web developer from London who lives in New York</p>
      <p>
    </div>
  </div>
</div>

<div class="home-intro">
  <div class="home-intro__inner">
    <div class="column">
      <p>I'm a product-focused, design-fluent web developer with six years'​ agency experience. I specialize in quickly understanding business needs and solving problems with technology. I bring a unique blend of coding, visual and UX design, systems thinking and information architecture.</p>
      <p>You can find me on <a href="https://github.com/jshakes" target="_blank">Github</a> and <a href="https://www.linkedin.com/in/james-shakespeare-40784435/" target="_blank">LinkedIn</a>, or you can <a href="mailto:j@jshakespeare.com">email me</a>.</p>
    </div>
    <div class="column">
      <img class="home-intro__photo" src="/assets/images/james-shakespeare-avatar.jpg" alt="James Shakespeare">
    </div>
  </div>
</div>

<div class="section">
  <div class="content-wrapper">
    <h2 class="section__heading">Work&mdash; Personal</h2>
    {% assign work = site.work | where:'type','personal' | sort:'order' %}
    {%include blocks/loop-work.html %}
  </div>
</div>

<div class="section">
  <div class="content-wrapper">
    <h2 class="section__heading">Work&mdash; Client</h2>
    <p>The following is a small selection of my client work. Additional examples of my work available upon request.</p>
    {% assign work = site.work | where:'type','client' | sort:'order' %}
    {%include blocks/loop-work.html %}
  </div>
</div>

<div class="section">
  <div class="content-wrapper">
    <h2 class="section__heading">Blog</h2>
  </div>
  {%include blocks/loop-posts.html %}
</div>
  
{% include blocks/footer.html %}
