---
bodyclass: homepage
---

<div class="home-hero">
  <div class="home-hero__inner">
    <div class="home-hero__logo">
      <a href="/">
        <img src="/assets/images/js-logo.png" alt="JS">
      </a>
    </div>
    <div class="home-hero__copy">
      <h1 class="home-hero__heading">James Shakespeare</h1>
      <p class="home-hero__subheading">Is a web developer from London who lives in New York</p>
      <p>
    </div>
  </div>
</div>

<div class="home-intro">
  <div class="home-intro__inner">
    <p>I specialize in</p>
    <ul class="home-intro__items">
      <li class="home-intro__item">Building end-to-end web applications with a deep consideration of human needs</li>
      <li class="home-intro__item">Translating business needs into systems thinking</li>
      <li class="home-intro__item">Maintaining a constant awareness of the web's ever-evolving technological landscape</li>
    </ul>
    <p>You can find me on <a href="https://github.com/jshakes" target="_blank">Github</a> and <a href="https://www.linkedin.com/in/james-shakespeare-40784435/" target="_blank">LinkedIn</a>, or you can <a href="mailto:j@jshakespeare.com">email me</a>.</p>
  </div>
</div>

<div class="section">
  <div class="content-wrapper">
    <h2 class="section__heading">Work&mdash; Personal</h2>
    {% assign work = site.work | where:'type','personal' | sort:'order' %}
    {%include blocks/loop-work.html %}
  </div>
</div>

<div class="section">
  <div class="content-wrapper">
    <h2 class="section__heading">Work&mdash; Client</h2>
    {% assign work = site.work | where:'type','client' | sort:'order' %}
    {%include blocks/loop-work.html %}
  </div>
</div>

<div class="section">
  <div class="content-wrapper">
    <h2 class="section__heading">Blog</h2>
  </div>
  {%include blocks/loop-posts.html %}
</div>
  
{% include blocks/footer.html %}
