---
layout: main
---
{% include blocks/header.html %}
<div class="content-wrapper">
  <article class="post work">
    <section class="post__header">
      <h1 class="post__title">{{ page.title }}</h1>
      <p class="work__subtitle">{{ page.subtitle }}</p>
      <p class="work__technology">{{ page.technology }}</p>
      {% if page.projectUrl %}
      <div class="work__buttons">
        <a href="{{ page.projectUrl }}" target="_blank" class="work__button">See the project</a>
      </div>
      {% endif %}
    </section>
    <section class="work__body">
      {{ content }}
    </section>
  </article>
</div>
{% include blocks/footer.html %}
