.posts-loop {
  @extend .reset-ul;  
  margin-top: -1em;
}

.posts-loop__permalink {
  @extend .reset-a;
  display: block;
  transition: all .15s;
  padding: 1em 0;
  &:hover {
    background: $color-accent-1;
    color: white;
    text-decoration: none;
  }
}

.posts-loop__link-inner {
  @extend .content-wrapper;
}
