.work__buttons {
  margin: 0 auto $height-content-padding;
  text-align: center;
}

.work__button {
  @extend .reset-a;
  transition: background-color, 0.1s;
  background-color: $color-accent-2;
  color: $color-background;
  padding: 1em;
  display: inline-block;
  margin-right: 1em;
  &:hover {
    text-decoration: none;
    background-color: lighten($color-accent-2, 10%);
  }
  &:last-child {
    margin-right: 0;
  }
}

.work__subtitle {
  font-size: 1.5em;
  margin: 1.5em 0;
  text-align: center;
  @include larger-than(mobile) {
    padding: 0 25%;
  }
}

.work__body {
  @extend .post__body;
  > p,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  .highlight {
    margin-right: auto;
    margin-left: auto;
    max-width: $width-page-content-narrow - ($width-content-padding * 2);
  }
}